
 

body {
  background: linear-gradient(135deg, orange 60%, cyan);
}
    


#logo { 
  height: 300px;
 

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#main {
    
     text-align: justify;
     
}